<button th:fragment="back" type="button" class="btn btn-warning" id="back-button" onclick="back()">Back</button>

<div th:fragment="studiedBookCheckbox">
    <h4><label for="studied">Already studied: </label>
        <form style="display: inline-block"  id="studied" method="POST" th:action="@{/book_tip/{id}/study(id=${book.id})}" target="hiddenframe">
            <input th:if="${not book.studied}" id="studiedcheck" type="checkbox" name="studied" value="1" onchange="this.form.submit()"/>
            <input th:if="${book.studied}" id="studiedcheck" type="checkbox" name="studied" value="1" onchange="this.form.submit()" checked="checked"/>
            <input id="studiedHidden" type="hidden" value="0" name="studied"/>
        </form></h4>
</div>

<div th:fragment="studiedBlogCheckbox">
    <h4><label for="studied">Already studied: </label>
        <form style="display: inline-block"  id="studied" method="POST" th:action="@{/blog_tip/{id}/study(id=${blog.id})}" target="hiddenframe">
            <input th:if="${not blog.studied}" id="studiedcheck" type="checkbox" name="studied" value="1" onchange="this.form.submit()"/>
            <input th:if="${blog.studied}" id="studiedcheck" type="checkbox" name="studied" value="1" onchange="this.form.submit()" checked="checked"/>
            <input id="studiedHidden" type="hidden" value="0" name="studied"/>
        </form></h4>
</div>

<div th:fragment="studiedTubeCheckbox">
    <h4><label for="studied">Already studied: </label>
        <form style="display: inline-block"  id="studied" method="POST" th:action="@{/tube_tip/{id}/study(id=${tube.id})}" target="hiddenframe">
            <input th:if="${not tube.studied}" id="studiedcheck" type="checkbox" name="studied" value="1" onchange="this.form.submit()"/>
            <input th:if="${tube.studied}" id="studiedcheck" type="checkbox" name="studied" value="1" onchange="this.form.submit()" checked="checked"/>
            <input id="studiedHidden" type="hidden" value="0" name="studied"/>
        </form></h4>
</div>
