<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add a book tip</title>
    </head>

    <body>
        <a href="/">back</a>
        <h1>Add a book tip</h1>

        <ul th:each="error : ${errors}">
            <li th:text="${error}">here</li>
        </ul>

        <form method="POST" action="/book_tip">
            (*)Author: <input type="text" name="author"/><br/>
            (*)Title: <input type="text" name="title"/><br/>
            (*)ISBN: <input type="text" name="isbn"/><br/>
            (*)Tags: <input type="text" name="tags"/><br/>
            Prerequisite courses: <input type="text" name="prerequisiteCourses"/><br/>
            Related courses: <input type="text" name="relatedCourses"/><br/>
            <input id="submit-button" type="submit" value="Submit"/>
        </form>
    </body>
</html>