<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add a book tip</title>
    </head>

    <body>
        <a href="/">back</a>
        <h1>Add a book tip</h1>

        <ul th:each="error : ${errors}">
            <li th:text="${error}">here</li>
        </ul>

        <form method="POST" action="/new/book_tip">
            <p>Author: <input type="text" name="author"/></p>
            <p>Title: <input type="text" name="title"/></p>
            <p>Type: <input type="text" name="type"/></p>
            <p>ISBN: <input type="text" name="isbn"/></p>
            <p>Tags: <input type="text" name="tags"/></p>
            <p>Prerequisite courses: <input type="text" name="prerequisiteCourses"/></p>
            <p>Related courses: <input type="text" name="relatedCourses"/></p>
            <input type="submit" value="Submit book tip"/>
        </form>
    </body>
</html>