<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add a blog tip</title>
    </head>

    <body>
        <a href="/">back</a>
        <h1>Add a blog tip</h1>

        <ul th:each="error : ${errors}">
            <li th:text="${error}">here</li>
        </ul>

        <form method="POST" action="/blog_tip">
            (*)Author: <input type="text" name="author"/><br/>
            (*)Title: <input type="text" name="title"/><br/>
            (*)URL: <input type="text" name="url"/><br/>
            (*)Tags: <input type="text" name="tags"/><br/>
            Prerequisite courses: <input type="text" name="prerequisiteCourses"/><br/>
            Related courses: <input type="text" name="relatedCourses"/><br/>
            <input type="submit" value="Submit blog tip"/>
        </form>
    </body>
</html>