<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header">
    </head>

    <body>
        <div class="container">
            <button type="button" class="btn btn-warning" id="back-button" onclick="back()">Back</button>
            <h3>Add a learning tip</h3>

            <div class="btn-group" role="group" aria-label="Choose type" id="buttons">
                <button type="button" class="btn btn-primary" id="addbook-button" onclick="bookForm()">Add Book</button>
                <button type="button" class="btn btn-primary" id="addblog-button" onclick="blogForm()">Add Blog</button>
                <button type="button" class="btn btn-primary" id="addtube-button" onclick="tubeForm()">Add Video</button>
            </div>

            <div>
            <ul th:each="error : ${errors}">
                <li th:text="${error}">here</li>
            </ul>
            </div>
            <br/> 
            <div id="addForm">Pick a tip type.</div>

            <script th:inline="javascript">

                function back() {
                    window.location.href = "/";
                }

                function bookForm() {
                    document.getElementById("addbook-button").disabled = true;
                    document.getElementById("addblog-button").disabled = false;
                    document.getElementById("addtube-button").disabled = false;
                    document.getElementById("addForm").innerHTML =
                            "<div class='container'>"
                            + "<form id='postForm' method='POST' action='/book_tip'>"
                            + "<div class='form-group'>"
                            + "<label for='author'>(*) Author</label>"
                            + "<input type='text' class='form-control' name='author'/>"
                            + "</div>"
                            + "<div class='form-group'>"
                            + "<label for='title'>(*)Title</label>"
                            + "<input type='text' class='form-control' name='title'/>"
                            + "</div>"
                            + "<div class='form-group'>"
                            + "<label for='isbn'>(*)ISBN</label>"
                            + "<input type='text' class='form-control' name='isbn'/>"
                            + "</div>"
                            + "<div class='form-group'>"
                            + "<label for='tags'>(*)Tags</label>"
                            + "<input type='text' class='form-control' name='tags'/>"
                            + "</div>"
                            + "<div class='form-group'>"
                            + "<textarea class='form-control' rows='4' cols='50' form=postForm name='description' wrap='hard' placeholder='Description'>"
                            + "</textarea>"
                            + "</div>"
                            + "<input id='submit-button' class='btn btn-primary' type='submit' value='Submit book tip'/>"
                            + "</form>"
                            + "</div>";
                }

                function blogForm() {
                    document.getElementById("addbook-button").disabled = false;
                    document.getElementById("addblog-button").disabled = true;
                    document.getElementById("addtube-button").disabled = false;
                    document.getElementById("addForm").innerHTML =
                            "<div class='container'>"
                            + "<form id='postForm' method='POST' action='/blog_tip'>"
                            + "<div class='form-group'>"
                            + "<label for='author'>(*) Author</label>"
                            + "<input type='text' class='form-control' name='author'/>"
                            + "</div>"
                            + "<div class='form-group'>"
                            + "<label for='title'>(*)Title</label>"
                            + "<input type='text' class='form-control' name='title'/>"
                            + "</div>"
                            + "<div class='form-group'>"
                            + "<label for='isbn'>(*)URL</label>"
                            + "<input type='text' class='form-control' name='url'/>"
                            + "</div>"
                            + "<div class='form-group'>"
                            + "<label for='tags'>(*)Tags</label>"
                            + "<input type='text' class='form-control' name='tags'/>"
                            + "</div>"
                            + "<div class='form-group'>"
                            + "<textarea class='form-control' rows='4' cols='50' form=postForm name='description' wrap='hard' placeholder='Description'>"
                            + "</textarea>"
                            + "</div>"
                            + "<input id='submit-button' class='btn btn-primary' type='submit' value='Submit blog tip'/>"
                            + "</form>"
                            + "</div>";
                }

                function tubeForm() {
                    document.getElementById("addbook-button").disabled = false;
                    document.getElementById("addblog-button").disabled = false;
                    document.getElementById("addtube-button").disabled = true;
                    document.getElementById("addForm").innerHTML =
                            "<div class='container'>"
                            + "<form id='postForm' method='POST' action='/tube_tip'>"
                            + "<div class='form-group'>"
                            + "<label for='author'>(*) Author</label>"
                            + "<input type='text' class='form-control' name='author'/>"
                            + "</div>"
                            + "<div class='form-group'>"
                            + "<label for='title'>(*)Title</label>"
                            + "<input type='text' class='form-control' name='title'/>"
                            + "</div>"
                            + "<div class='form-group'>"
                            + "<label for='isbn'>(*)URL</label>"
                            + "<input type='text' class='form-control' name='url'/>"
                            + "</div>"
                            + "<div class='form-group'>"
                            + "<label for='tags'>(*)Tags</label>"
                            + "<input type='text' class='form-control' name='tags'/>"
                            + "</div>"
                            + "<div class='form-group'>"
                            + "<textarea class='form-control' rows='4' cols='50' form=postForm name='description' wrap='hard' placeholder='Description'>"
                            + "</textarea>"
                            + "</div>"
                            + "<input id='submit-button' class='btn btn-primary' type='submit' value='Submit video tip'/>"
                            + "</form>"
                            + "</div>";
                }

            </script>
        </div>
    </body>
</html>