<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Blog tip details</title>
    </head>

    <body>
        <button id="back-button" onclick="back()">Back</button>
        <h1>Blog tip details</h1>

        <ul th:each="error : ${errors}">
            <li th:text="${error}">here</li>
        </ul>

        <iframe name="hiddenframe" style="display: none;"></iframe>
        <b>Studied:</b>
        <form style="display: inline-block"  id="studied" method="POST" th:action="@{/blog_tip/{id}/study(id=${blog.id})}" target="hiddenframe">
            <input th:if="${not blog.studied}" id="studiedcheck" type="checkbox" name="studied" value="1" onchange="this.form.submit()"/>
            <input th:if="${blog.studied}" id="studiedcheck" type="checkbox" name="studied" value="1" onchange="this.form.submit()" checked="checked"/>
            <input id="studiedHidden" type="hidden" value="0" name="studied"/>
        </form>

        <div id="blog-tip-details"></div>
        <div id="buttons">
        </div>

        <script th:inline="javascript">

            function back() {
                window.location.href = "/";
            }

            /*<![CDATA[*/
            var blog = /*[[${blog}]]*/ 'blog';
            /*]]>*/

            function addDeleteButton() {
                var deleteButton = document.createElement("button");
                deleteButton.id = "delete-button";
                deleteButton.innerHTML = "Delete"
                        + "<form name='deleteForm' method='POST' action='/blog_tip/[[${blog.id}]]'>"
                        + "<input type='hidden' name='_method' value='DELETE'>"
                        + "<\/form>";
                deleteButton.onclick = deleteBook
                document.getElementById("buttons").appendChild(deleteButton);
            }

            function removeDeleteButton() {
                var deleteButton = document.getElementById("delete-button");
                if (deleteButton) {
                    deleteButton.parentNode.removeChild(deleteButton);
                }
            }

            function addEditButton() {
                var editButton = document.createElement("button");
                editButton.id = "edit-button";
                editButton.innerHTML = "Edit"
                editButton.onclick = editEnabled
                document.getElementById("buttons").appendChild(editButton);
            }

            function removeEditButton() {
                var editButton = document.getElementById("edit-button");
                if (editButton) {
                    editButton.parentNode.removeChild(editButton);
                }
            }

            function addSaveButton() {
                var saveButton = document.createElement("button");
                saveButton.id = "save-button";
                saveButton.innerHTML = "Save"
                saveButton.onclick = saveBook
                document.getElementById("buttons").appendChild(saveButton);
            }

            function removeSaveButton() {
                var saveButton = document.getElementById("save-button");
                if (saveButton) {
                    saveButton.parentNode.removeChild(saveButton);
                }
            }

            function addCancelButton() {
                var cancelButton = document.createElement("button");
                cancelButton.id = "cancel-button";
                cancelButton.innerHTML = "Cancel"
                cancelButton.onclick = editDisabled
                document.getElementById("buttons").appendChild(cancelButton);
            }

            function removeCancelButton() {
                var cancelButton = document.getElementById("cancel-button");
                if (cancelButton) {
                    cancelButton.parentNode.removeChild(cancelButton);
                }
            }

            function editDisabled() {
                emptyElements();
                document.getElementById("blog-tip-details").innerHTML =
                        "Author: " + blog.author + "<br/>"
                        + "Title: " + blog.title + "<br/>"
                        + "URL: <a href='" + blog.url + "'>" + blog.url + "</a><br/>"
                        + "Tags: " + blog.tags + "<br/>"
                        + "<textarea rows='4' cols='50' readonly>" + blog.description + "</textarea></br>";
                addDeleteButton();
                addEditButton();
            }

            function editEnabled() {
                emptyElements();
                document.getElementById("blog-tip-details").innerHTML =
                        "<form id='editForm' name='editForm' method='POST' action='/blog_tip/[[${blog.id}]]'>"
                        + "(*)Author: <input name='author' value='" + blog.author + "'/><br/>"
                        + "(*)Title: <input name='title' value='" + blog.title + "'/><br/>"
                        + "(*)ISBN: <input name='url' value='" + blog.url + "'/><br/>"
                        + "(*)Tags: <input name='tags' value='" + blog.tags + "'/><br/>"
                        + "<textarea rows='4' cols='50' form=editForm name='description' wrap='hard'>" + blog.description + "</textarea></br>"
                        + "<input type='hidden' name='_method' value='PUT'>"
                        + "<\/form>";
                addSaveButton();
                addCancelButton();
            }

            function emptyElements() {
                document.getElementById("blog-tip-details").innerHTML = "";
                document.getElementById("buttons").innerHTML = "";
            }

            function deleteBook() {
                var confirmation = confirm("Do you really want to delete blog tip: "
                        + blog.title + " by " + blog.author + "?");
                if (confirmation) {
                    document.deleteForm.submit();
                }
            }

            function saveBook() {
                document.editForm.submit();
            }

            editDisabled();
        </script>
    </body>
</html>