<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Book tip details</title>
    </head>

    <body>
        <a href="/">back</a>
        <h1>Book tip details</h1>

        <p>
            <span th:text="'Author: ' + ${book.author}"/>
            <span style="white-space: pre-line">
            </span>
            <span th:text="'Title: ' + ${book.title}"/>
            <span style="white-space: pre-line">
            </span>
            <span th:text="'Type: ' + ${book.type}"/>
            <span style="white-space: pre-line">
            </span>
            <span th:text="'ISBN: ' + ${book.isbn}"/>
            <span style="white-space: pre-line">
            </span>
            <span th:text="'Tags: ' + ${book.tags}"/>
            <span style="white-space: pre-line">
            </span>
            <span th:text="'Prerequisite courses: ' + ${book.prerequisiteCourses}"/>
            <span style="white-space: pre-line">
            </span>
            <span th:text="'Related courses: ' + ${book.relatedCourses}"/>
        </p>

        <form th:onsubmit="return alert(/*[['Do you really want to delete ' + ${book.title} + ' by ' + ${book.author} + '?']]*/'')" th:action="@{/book_tip/{id}(id=${book.id})}" method="POST">
            <input type="hidden" name="_method" value="DELETE"/>
            <input name="delete-tip" type="submit" value="Delete"/>
        </form>
    </body>
</html>