<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Reading Tips Archive</title>
    </head>

    <body>
        <h1>Reading Tips Archive</h1>

        <h2>Books</h2>

        
        <p>
        Sort:
            <button id="bookTitleSort" onclick="sortByTitle(booktips)">By Title</button>
            <button id="bookAuthorSort" onclick="sortByAuthor(booktips)">By Author</button>
            <button id="bookIdSort" onclick="sortByAdded(booktips)">By Added</button>
        </p>
        <ul id="book-tips"></ul>
        <a href="/book_tip">add a book tip</a>
        
        <h2>Blogs</h2>

        <p>
        Sort:
            <button id="blogTitleSort" onclick="sortByTitle(blogtips)">By Title</button>
            <button id="blogAuthorSort" onclick="sortByAuthor(blogtips)">By Author</button>
            <button id="blogIdSort" onclick="sortByAdded(blogtips)">By Added</button>
        </p>
        <ul id="blog-tips"></ul>
        <a href="/blog_tip">add a blog tip</a>
    
        <script th:inline="javascript">
            var booktips=[
            /*[# th:each="book : ${books}"]*/
                {id:[[${book.id}]], title:[[${book.title}]], author:[[${book.author}]]},
            /*[/]*/
            ];
            
            var blogtips=[
            /*[# th:each="blog : ${blogs}"]*/
                {id:[[${blog.id}]], title:[[${blog.title}]], author:[[${blog.author}]]},
            /*[/]*/
            ];
            
            displayTips();
            
            function sortByTitle(tipList) {
                tipList.sort(function(a, b){
                    var x = a.title.toLowerCase();
                    var y = b.title.toLowerCase();
                    if (x < y) {return -1;}
                    if (x > y) {return 1;}
                    return 0;
                });
                displayTips();
            }
            
            function sortByAuthor(tipList) {
                tipList.sort(function(a, b){
                    var x = a.author.toLowerCase();
                    var y = b.author.toLowerCase();
                    if (x < y) {return -1;}
                    if (x > y) {return 1;}
                    return 0;
                });
                displayTips();
            }
            
            function sortByAdded(tipList) {
                tipList.sort(function(a, b){
                    return a.id - b.id;
                });
                displayTips();
            }

            function displayTips() {
                var bookTipList = "";
                var blogTipList = "";
                
                booktips.forEach(listBookTips);
                document.getElementById("book-tips").innerHTML = bookTipList;
                
                blogtips.forEach(listBlogTips);
                document.getElementById("blog-tips").innerHTML = blogTipList;

                function listBookTips(tip) {
                    bookTipList = bookTipList + "<li><a id=" + tip.id + " href='/book_tip/" 
                            + tip.id + "'>" + tip.title + " by " + tip.author + "</a></li>"; 
                }
                
                function listBlogTips(tip) {
                    blogTipList = blogTipList + "<li><a id=" + tip.id + " href='/blog_tip/" 
                            + tip.id + "'>" + tip.title + " by " + tip.author + "</a></li>"; 
                }
            }

        </script> 
               
    </body>
</html>
