<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Reading Tips Archive</title>
    </head>

    <body>
        <h1>Reading Tips Archive</h1>

        <h2>Books</h2>

        <a href="/new/book_tip">make a new book tip</a>

        <ul id="book-tips">
            <li th:each="book : ${books}" th:utext="
                'Author: ' + ${book.author} + '<br>' +
                'Title: ' + ${book.title} + '<br>' +
                'Type: ' + ${book.type} + '<br>' +
                'ISBN: ' + ${book.isbn} + '<br>' +
                'Tags: ' + ${book.tags} + '<br>' +
                'Prerequisite courses: ' + ${book.prerequisiteCourses} + '<br>' +
                'Related courses: ' + ${book.relatedCourses} + '<br>' + '<br>'
                "></li>
        </ul>
    </body>
</html>
