<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Reading Tips Archive</title>
    </head>

    <body>
        <h1>Reading Tips Archive</h1>

        <button id="add-new-reading-tip" onclick="newTip()">Add new reading tip</button>
        
        <p>
        Sort by:
            <button id="titleSort" onclick="titleSort()">Title</button>
            <button id="authorSort" onclick="authorSort()">Author</button>
            <button id="idSort" onclick="addedSort()">Added</button>
        </p>
        
        <p>
            <input type="text" placeholder="Filter tips" onkeyup="filterAndDisplayTips()" id="filterInput" />
            <label><input type="checkbox" id="includeStudied" onchange="filterAndDisplayTips()" />Include Studied</label>
        </p>
        
        <h2>Books</h2>
        
        <ul id="book-tips"></ul>
        
        <h2>Blogs</h2>

        <ul id="blog-tips"></ul>
    
        <h2>Videos</h2>

        <ul id="tube-tips"></ul>
    
        <script th:inline="javascript">
            
            var booktips=[
            /*[# th:each="book : ${books}"]*/
                {id:[[${book.id}]], title:[[${book.title}]], author:[[${book.author}]], studied:[[${book.studied}]]},
            /*[/]*/
            ];
            
            var blogtips=[
            /*[# th:each="blog : ${blogs}"]*/
                {id:[[${blog.id}]], title:[[${blog.title}]], author:[[${blog.author}]], studied:[[${blog.studied}]]},
            /*[/]*/
            ];
            
            var tubetips=[
            /*[# th:each="tube : ${tubes}"]*/
                {id:[[${tube.id}]], title:[[${tube.title}]], author:[[${tube.author}]], studied:[[${tube.studied}]]},
            /*[/]*/
            ];
    
            var filteredBookList, filteredBlogList, filteredTubeList;
            
            filterAndDisplayTips();
    
            function filterByContent(tipList) {
                var input = document.getElementById('filterInput').value.toLowerCase();
                
                return tipList.filter(tip => tip.title.toLowerCase().includes(input) || tip.author.toLowerCase().includes(input));
            }
            
            function filterByStudied(tipList) {
                if (document.getElementById("includeStudied").checked) {
                    return tipList;
                } else {
                    return tipList.filter(tip => !tip.studied);
                }
            }
            
            function filterTipLists() {
                filteredBookList = filterByContent(filterByStudied(booktips))
                filteredBlogList = filterByContent(filterByStudied(blogtips))
                filteredTubeList = filterByContent(filterByStudied(tubetips))
            }
            
            function filterAndDisplayTips() {
                filterTipLists();
                displayTips();
            }
            
            function newTip() {
                window.location.href="/new_tip";
            }
            
            function titleSort() {
                sortByTitle(booktips);
                sortByTitle(blogtips);
                sortByTitle(tubetips);
                filterAndDisplayTips();
            }
            
            function authorSort() {
                sortByAuthor(booktips);
                sortByAuthor(blogtips);
                sortByAuthor(tubetips);
                filterAndDisplayTips();
            }
            
            function addedSort() {
                sortByAdded(booktips);
                sortByAdded(blogtips);
                sortByAdded(tubetips);
                filterAndDisplayTips();
            }
            
            function sortByTitle(tipList) {
                tipList.sort(function(a, b){
                    var x = a.title.toLowerCase();
                    var y = b.title.toLowerCase();
                    if (x < y) {return -1;}
                    if (x > y) {return 1;}
                    return 0;
                });
            }
            
            function sortByAuthor(tipList) {
                tipList.sort(function(a, b){
                    var x = a.author.toLowerCase();
                    var y = b.author.toLowerCase();
                    if (x < y) {return -1;}
                    if (x > y) {return 1;}
                    return 0;
                });
            }
            
            function sortByAdded(tipList) {
                tipList.sort(function(a, b){
                    return a.id - b.id;
                });
            }
            
            function toggleStudied(form) {
                form.submit();
                //filterAndDisplayTips();
            }

            function displayTips() {
                var bookTipList = "";
                var blogTipList = "";
                var tubeTipList = "";
                
                filteredBookList.forEach(listBookTips);
                document.getElementById("book-tips").innerHTML = bookTipList;
                
                filteredBlogList.forEach(listBlogTips);
                document.getElementById("blog-tips").innerHTML = blogTipList;

                filteredTubeList.forEach(listTubeTips);
                document.getElementById("tube-tips").innerHTML = tubeTipList;

                function listBookTips(tip) {
                    bookTipList = bookTipList + "<li>"
                            + '<iframe name="hiddenframe' + tip.id + '" style="display: none;"></iframe>'
                            + '<form style="display: inline-block" id="studied' + tip.id + '" method="POST" action="/book_tip/' + tip.id + '/study"' 
                            + ' target="hiddenframe' + tip.id + '">';
                    
                    if(tip.studied) {
                        bookTipList = bookTipList 
                                + ' <input type="checkbox" ' 
                                + ' name="studied" id="studiedcheck" value="1" onchange="toggleStudied(this.form)" checked="checked"/>';
                    } else {
                        bookTipList = bookTipList 
                                + ' <input'
                                + ' type="checkbox" id="studiedcheck" name="studied" value="1" onchange="toggleStudied(this.form)"/>';
                    }
                    
                    bookTipList = bookTipList + ' <input type="hidden" value="0" name="studied"/>'
                            + '</form>'
                            + "<a id=" + tip.id + " href='/book_tip/" 
                            + tip.id + "'>" + tip.title + " by " + tip.author + "</a>"
                            + "</li>"; 
                    
                }
                
                function listBlogTips(tip) {
                    blogTipList = blogTipList + "<li>"
                            + '<iframe name="hiddenframe' + tip.id + '" style="display: none;"></iframe>'
                            + '<form style="display: inline-block" id="studied' + tip.id + '" method="POST" action="/blog_tip/' + tip.id + '/study"' 
                            + ' target="hiddenframe' + tip.id + '">';
                    
                    if(tip.studied) {
                        blogTipList = blogTipList 
                                + ' <input type="checkbox"' 
                                + ' name="studied" id="studiedcheck" value="1" onchange="this.form.submit()" checked="checked"/>';
                    } else {
                        blogTipList = blogTipList
                                + ' <input'
                                + ' type="checkbox" id="studiedcheck" name="studied" value="1" onchange="this.form.submit()"/>';
                    }
                    
                    blogTipList = blogTipList + ' <input type="hidden" value="0" name="studied"/>'
                            + '</form>'
                            + "<a id=" + tip.id + " href='/blog_tip/" 
                            + tip.id + "'>" + tip.title + " by " + tip.author + "</a>" 
                            + "</li>"; ; 
                }
                
                function listTubeTips(tip) {
                    tubeTipList = tubeTipList + "<li>"
                            + '<iframe name="hiddenframe' + tip.id + '" style="display: none;"></iframe>'
                            + '<form style="display: inline-block" id="studied' + tip.id + '" method="POST" action="/tube_tip/' + tip.id + '/study"' 
                            + ' target="hiddenframe' + tip.id + '">';
                    
                    if(tip.studied) {
                        tubeTipList = tubeTipList 
                                + ' <input type="checkbox"' 
                                + ' name="studied" id="studiedcheck" value="1" onchange="this.form.submit()" checked="checked"/>';
                    } else {
                        tubeTipList = tubeTipList
                                + ' <input'
                                + ' type="checkbox" id="studiedcheck" name="studied" value="1" onchange="this.form.submit()"/>';
                    }
                    
                    tubeTipList = tubeTipList + ' <input type="hidden" value="0" name="studied"/>'
                            + '</form>'
                            + "<a id=" + tip.id + " href='/tube_tip/" 
                            + tip.id + "'>" + tip.title + " by " + tip.author + "</a>" 
                            + "</li>"; ; 
                }

        }

        </script> 
               
    </body>
</html>
